.transactions-history {
  width: 100%;

  .transactions-block {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .items-list {
    li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .empty-message {
    text-align: left;
    color: var(--text-70);
    font-size: 16px;
    margin-top: 20px;
  }
}