.transactions-history {
  width: 100%;

  .transactions-block {
    max-height: 335px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .empty-message {
    text-align: left;
    color: var(--text-70);
    font-size: 16px;
    margin-top: 20px;
    white-space: pre-wrap;
  }

  .transactions-date {
    padding: 10px 0;
    background-color: var(--bg-color);
  }
}