.transactions-history {
  width: 100%;

  .transactions-block {
    //max-height: 335px;
    //overflow-y: auto;
    padding-right: 10px;

    .card {
      box-shadow: none;
      border: 1px solid var(--input-border-color);

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .empty-message {
    text-align: left;
    color: var(--text-70);
    font-size: 16px;
    margin-top: 20px;
    white-space: pre-wrap;
  }

  .transactions-date {
    padding: 10px 0;
    background-color: var(--bg-color);
  }
}