.button {
  padding: 5px 16px;
  font-weight: 400;
  border-radius: 4px;
  font-size: var(--main-font-size);
  border: transparent;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
  cursor: pointer;
  transition: all .3s;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--btn-primary-bg-hover);
  }

  &:disabled {
    background-color: var(--neutral-600);
  }

  &.small {
    padding: 5px 14px;
    font-size: 14px;
  }

  &.medium {
    height: 42px;
  }

  &.big {
    height: 50px;
  }

  &.red {
    background-color: var(--red-100);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--red-70);
    }
  }

  &.green {
    background-color: var(--green-100);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--green-90);
    }
  }

  &.transparent {
    background-color: transparent;
    border: 1px solid var(--btn-primary-border-color);
    color: var(--btn-transparent-color);

    &:hover,
    &:focus,
    &:active {
      color: var(--white-color);
      background-color: var(--btn-primary-bg-hover);
      border-color: transparent;
    }

    &:disabled {
      background-color: var(--neutral-400);
    }
  }
}

