.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--input-border-color);
  padding: 10px 0;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;
  }

  &.show-actions {
    .right-side {
      padding-right: 20px;

      @media only screen and (max-width: 480px) {
        padding-right: 14px;
      }
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  .transaction-info {
    font-size: 18px;

    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  .content-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
  }

  .transaction-description {
    max-width: 80%;
    padding-right: 12px;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
  }

  .category {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

    //@media only screen and (max-width: 480px) {
    //  max-width: 70%;
    //}
  }

  .category-wrap {
    display: flex;

  }

  .category-icon {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

  .category-name {
    font-size: 14px;

    @media only screen and (max-width: 480px) {
      font-size: 11px;
      text-align: right;
    }
  }

  .card-number {
    margin-top: 4px;
    font-size: 12px;
    text-align: right;

    @media only screen and (max-width: 480px) {
      font-size: 11px;
      white-space: nowrap;
    }
  }

  .transaction-amount {
    font-size: 20px;
    text-align: right;
    margin-bottom: 6px;
    white-space: nowrap;

    @media only screen and (max-width: 480px) {
      font-size: 16px;
    }

    &.green {
      color: var(--green-100);
    }

    &.red {
      color: var(--red-100);
      &:before {
        content: '-';
      }
    }
  }

  .action-menu {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    .actions-list {
      position: absolute;
      z-index: 10;
      right: 10px;
      bottom: 100%;
      background-color: var(--card-bg-color);
      border: 1px solid var(--border-color);
      border-radius: 4px;
      box-shadow: var(--box-shadow);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      padding: 4px;

      .action-btn {
        padding: 6px 10px;
        font-size: 16px;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
        text-align: left;
        white-space: nowrap;
        color: var(--main-color);

        &:hover {
          background-color: var(--bg-color);
        }
      }
    }
  }
}