.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--input-border-color);
  padding: 10px 0;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;
  }

  &.show-actions {
    .right-side {
      padding-right: 20px;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  .transaction-info {
    font-size: 18px;
  }

  .content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .transaction-description {
    max-width: 80%;
  }

  .right-side {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .category {
    display: flex;
    align-items: center;
  }

  .category-icon {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
  }

  .category-name {
    font-size: 14px;
  }

  .transaction-amount {
    font-size: 20px;
    text-align: right;
    margin-bottom: 6px;

    &.green {
      color: var(--green-100);
    }

    &.red {
      color: var(--red-100);
    }
  }

  .action-menu {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}