.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  @media only screen and (max-width: 640px) {
    flex-wrap: wrap;
  }

  .category-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    @media only screen and (max-width: 640px) {
      width: 60px;
      height: 60px;
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  .content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    @media only screen and (max-width: 640px) {
     flex: auto;
      width: 100%;
    }

    .transaction-description {
      .transaction-amount {
        display: none;
        margin-bottom: 12px;
        @media only screen and (max-width: 640px) {
          display: block;
        }
      }
    }

    .category-name {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .transaction-info {
      margin-bottom: 8px;
    }

    .transaction-date {
      font-size: 14px;
    }
  }

  .transaction-amount {
    font-size: 20px;
    font-weight: 600;

    @media only screen and (max-width: 640px) {
      display: none;
    }

    &.green {
      color: var(--green-100);
    }
    &.red {
      color: var(--red-100);
    }
  }
}