.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .category-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-100);
    margin-right: 20px;
  }

  .content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .category-name {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
}