.auth-form {
  padding-top: 24px;

  .button {
    min-width: 140px;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &.cols {
    flex-wrap: nowrap;
  }
}

.row-col {
  &.w50p {
    width: 50%;
  }
}