* {
  box-sizing: border-box;
}

body, html {
  font-family: var(--main-font), sans-serif;
  color: var(--main-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;
}

.no-overflow {
  overflow: visible;
}

//text-align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

//positions
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.columns {
  display: flex;
}

.section-title {
  font-size: 32px;
}

p {
  margin-top: 0;
}

.hidden {
  overflow: hidden;
}

.main-content {
  width: calc(100% - 250px);
  height: 100vh;
  padding: 20px 10px 10px 0;
  position: fixed;
  left: 250px;
  top: 0;
  overflow-y: auto;

  .content {
    border-radius: var(--border-radius);
    background-color: var(--card-bg-color);

    min-height: calc(100vh - 30px);
    padding: 20px;
  }
}


//scroll styles

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

//google icons
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}