// normalize.scss
html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  display: flex;
  justify-content: center;

  & > div:first-child {
    width: 100%;
  }
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0 0 0.67em;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

button {
  border-radius: 0;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// main.scss
* {
  box-sizing: border-box;
  font-family: var(--main-font), sans-serif;
}

body, html {
  color: var(--main-color);
  background-color: var(--bg-color);
}

a {
  color: inherit;
}

.no-overflow {
  overflow: visible;
}

// text-align
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// positions
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.columns {
  display: flex;
}

.section-title {
  font-size: 32px;
}

p {
  margin-top: 0;
}

.hidden {
  overflow: hidden;
}

.main-content {
  width: calc(100% - 250px);
  height: 100vh;
  padding: 20px 10px 10px 0;
  position: fixed;
  left: 250px;
  top: 0;
  overflow-y: auto;

  @media only screen and (min-width: 2501px) {
    position: absolute;
  }

  @media only screen and (max-width: 991px) {
    width: 100%;
    height: auto;
    left: 0;
    padding: 10px 10px calc(16px + env(safe-area-inset-bottom)) 10px;
    position: relative;
  }

  .content {
    border-radius: var(--border-radius);
    background-color: var(--card-bg-color);
    min-height: calc(100vh - 30px);
    padding: 20px;

    @media only screen and (max-width: 991px) {
      min-height: calc(100vh - 20px);
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 480px) {
      padding: 14px;
    }
  }
}

// scroll styles
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #333;
}

// google icons
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0.3;
  filter: grayscale(1);
}

.no-scroll {
  overflow: hidden;
}