.site-header {
  .mobile-menu {
    position: absolute;
    top: 79px;
    right: 10px;
    width: 250px;
    height: calc(100vh - 90px);
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 0 0 var(--border-radius) 0;
    border: 1px solid var(--input-border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @media only screen and (max-width: 767px) {
      width: calc(100% - 24px);
      height: calc(100vh - 79px);
      border-radius: 0;
      left: 10px;
      right: 10px;
      position: fixed;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    .user-info {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      padding: 16px 10px 0 10px;
    }

    .user-name {
      font-weight: 500;
      margin-left: 12px;
      display: flex;
      align-items: center;
    }

  }

  .header-menu {
    width: 100%;

    .menu-link {
      padding: 10px;
      display: flex;
      align-items: center;
      width: 100%;
      background-color: transparent;
      transition: background-color .3s, color .3s;
      color: var(--main-color);
      border-radius: 6px;
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;

      &:hover, &.active, &.router-link-exact-active {
        background-color: var(--card-bg-color);
        color: var(--accent-color);
      }

      .icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        margin-right: 24px;
      }
    }
  }

  @media (max-width: 991px) {
    .mobile-menu.open {
      display: block;
    }
  }

  @media (min-width: 992px) {
    .mobile-menu.active {
      display: none;
    }
  }
}