:root {
    --main-font: "Raleway", sans-serif;
    --main-font-size: 16px;
    --main-color: #0E0E0EFF;
    --accent-color: #5d66fe;
    --bg-color: #f0f0f0;
    --modal-bg-color: #000;
    --modal-body-color: #fff;
    --card-bg-color: #fff;
    --list-item-bg-color: #eee;
    --hover-color: #8a989a;
    --gray-color: #f0f0f0;
    --white-color: #fff;
    --border-radius: 10px;
    --border-color: #fff;
    --input-border-color: rgba(226, 232, 240, 0.9);
    --border-width: 0;
    --border-style: solid;
    --box-shadow: 0 4px 6px 3px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --input-primary-color: #0E0E0EFF;
}

[data-theme='dark'] {
    --main-color: #E0E0E0;
    --bg-color: rgb(30, 40, 65);
    --modal-bg-color: rgba(0,0,0, 1);
    --modal-body-color: rgb(15, 23, 42);
    --card-bg-color: rgb(15, 23, 42);
    --list-item-bg-color: #8a989a;
    --box-shadow: none;
    --border-width: 1px;
    --border-style: solid;
    --border-color: rgba(226, 232, 240, 0.2);
    --input-border-color: rgba(226, 232, 240, 0.2);
    --input-label-bg: rgb(15, 23, 42);
    --input-primary-color: #E0E0E0;
    --btn-transparent-color: #E0E0E0;
}
