.accordion {
  width: 100%;
  overflow: hidden;
  transition: height .3s;
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  .accordion-inner-content {
    position: relative;
  }

  .header-block {
    padding: 0 16px;
    display: flex;
    height: 52px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    &.center {
      justify-content: center;
    }
  }

  .link-text {
    font-size: 18px;
  }

  .icon-wrap {
    width: 18px;
    height: 18px;
    display: flex;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      transition: all .3s;
      transform: rotate(0deg);
    }
  }

  .content-block {
    overflow: hidden;
    max-height: 0;
    transition: all .3s;
    border: 0 solid var(--neutral-500);
    border-radius: 0 0 4px 4px;
  }

  .description {
    padding: 16px;
  }
}

.accordion.active {
  .accordion-inner-content {
    background-color: inherit;
    border-radius: 0 25px 25px 0;
  }

  .icon-wrap {
    svg {
      transform: rotate(90deg);
    }
  }

  .content-block {
    visibility: visible;
    position: relative;
    pointer-events: all;
  }
}

.accordion.basic {
  .header-block {
    background-color: var(--bg-color);;
    padding: 0 20px;
    transition: background-color .3s;

    &:hover {
      background-color: var(--bg-color);;
    }
  }

  .content-item {
    padding: 16px 20px;
  }
}
.accordion.basic.active {
  .content-block {
    border: 1px solid var(--border-color);
  }
}
