.index-page {
  display: flex;
  gap: 20px;

  .title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .title {
      margin-bottom: 0;
    }
  }

  .sorting-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .sort-label {
      font-size: 14px;
      margin-right: 8px;
    }
  }

  .card-details-block {
    width: 40%;
  }

  .statistics-block {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .period-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    .period {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}