.index-page {
  display: flex;
  gap: 20px;

  @media only screen and (max-width: 991px) {
    flex-wrap: wrap;
  }

  .title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    @media only screen and (max-width: 480px) {
      flex-wrap: wrap;
    }

    .title {
      margin-bottom: 0;

      @media only screen and (max-width: 991px) {
        margin-bottom: 8px;
      }
    }
  }

  .sorting-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 8px;

    .sort-label {
      font-size: 14px;
      margin-right: 8px;
      white-space: nowrap;
    }
  }

  .card-details-block {
    width: 40%;

    @media only screen and (max-width: 991px) {
      width: 100%;
    }
  }

  .statistics-block {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 991px) {
      width: 100%;
    }

    .card {
      justify-content: center;
    }
  }

  .period-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;

    @media only screen and (max-width: 480px) {
      flex-wrap: wrap;
      gap: 8px;
    }

    .period {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}