.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 28px 6px 12px;
  cursor: pointer;
  background: var(--card-bg-color);
  color: var(--main-color);
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.dropdown-toggle span {
  flex: 1;
}

.dropdown-arrow {
  position: absolute;
  right: 8px;
  transition: transform 0.3s;

  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}

.dropdown-arrow.is-active {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0;
  min-width: 100%;
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(8px);
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-item:hover,
.dropdown-item.selected {
  background-color: var(--card-bg-color);
}

.fade-expand-enter-active,
.fade-expand-leave-active {
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.fade-expand-enter-from,
.fade-expand-leave-to {
  opacity: 0;
  max-height: 0;
}

.fade-expand-enter-to,
.fade-expand-leave-from {
  opacity: 1;
  max-height: 500px;
}

.dropdown.form-dropdown {
  width: 100%;

  &.small {
    .dropdown-toggle {
      height: 30px;
    }
  }

  &.medium {
    .dropdown-toggle {
      height: 50px;
    }
  }

  &.big {
    .dropdown-toggle {
      height: 58px;
    }
  }

  .dropdown-toggle {
    height: 40px;
    border: 1px solid var(--input-border-color);
    font-weight: 400;
    font-size: 16px;
    color: var(--input-primary-color);

    span {
      text-align: left;
      font-size: inherit;
    }
  }
}
